body {
  background-image: url('fondo.jpg');
  background-size: cover;  
  background-position: center; 
  background-attachment: fixed;  
  margin: 0;  
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111111;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  font-size: 2em;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  display: block;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.instagram {
  background-color: #008ad8 ;
}

.TikTok {
  background-color: #64ccc9;
}

.whatsapp {
  background-color: #74aa50;
}

.formulario {
  background-color: #669dd8;
}
.btn:hover {
  background-color: #ee4747;
}
button {
  background-color: rgb(230, 82, 14);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ee4747;
}